:root {
  height: 100%;
}

body {
  background: linear-gradient(to top, #052e2d 0%, #17c0d1 100%) no-repeat fixed;
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, 1fr);
  height: 100%;
  margin: 0;
}

x-draggroup {
  grid-area: 1 / 1 / 1/-1;
  font: 20px 'Arial';
}

img {
  height: 25vh;
  margin: 0 auto;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  self-align: center;
  self-justify: center;
  /* width: 40%; */
}

.finally {
  display: none;
  align-items: center;
  background: linear-gradient(to top, #0ba360 0%, #3cba92 100%) no-repeat fixed;
  /* display: grid; */
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  /* grid-auto-flow: column; */
  z-index: 1;
  grid-template: 90px auto / 100%;
}

.finally_text {
  font: 87px 'Arial';
  text-align: center;
  color: floralwhite;
}

.logo {
  height: 80px;
  justify-self: start;
  margin: 0;
  position: relative;
  right: 35%;
}
